.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header */
.header {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #444;
  font-weight: bold;
}

/* Paragraph */
.paragraph {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  text-align: justify;
  color: #555;
}

/* Quote Section */
.quoteSection {
  border-top: 1px dashed #ddd;
  /* border-bottom: 1px dashed #ddd; */
  padding: 2rem 0;
  margin: 2rem 0;
}

.blockquote {
  background-color: #fffbf8;
  padding: 1.5rem;
  border-left: 4px solid #ffccb5;
  margin-bottom: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  font-style: italic;
  position: relative;
}

.blockquote a {
  text-decoration: none;
  color: #513d2a;
  font-weight: bold;
  text-decoration: underline;
}

.cite {
  display: block;
  margin-top: 1rem;
  text-align: right;
  font-weight: bold;
  color: #666666;
}

/* Feedback Section */
.feedbackSection {
  margin-top: 2rem;
  text-align: center;
  padding: 1.5rem;
  background-color: #f7f1e9;
  border-radius: 8px;
}

.button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #d59e6e;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #c0875c;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Media Queries */
@media (max-width: 600px) {
  .container {
    padding: 1.5rem;
  }

  .header {
    font-size: 2rem;
  }

  .blockquote {
    font-size: 1rem;
  }

  .paragraph {
    font-size: 1rem;
  }

  .button {
    font-size: 0.9rem;
  }
}
